
@import 'not-compiling/reset'
$desc: 1100
$tab: 820
$mob: 600


=r($width)
    @media screen and (max-width: $width + 'px')
        @content
html
    scroll-behavior: smooth //for smooth scrolling to anchors
body
    font-family: 'Montserrat', sans-serif
    color: white
    min-width: 375px
    overflow-x: hidden
// @keyframes slightAppear
//     from
//         opacity: 0
//         transform: translateX(-20px)
//     to
//         opacity: 1
//         transform: translateX(0)
*
    box-sizing: border-box
    &::selection
        background: #ED145B
        color: white
a
    text-decoration: none
    color: inherit
    transition: .25s

mark
    background: transparent
button
    background: transparent
    border: none
    outline: none
    cursor: pointer
    transition: .25s
.inner
    width: 1100px
    margin: 0 auto
    padding: 0 20px
    +r($desc)
        width: 100%
.highlighted
    color: #ED145B

.header
    padding: 50px 0 25px 0
    +r($mob)
        padding: 40px 0 20px 0
    &__inner
        +r($desc)
            display: flex
            justify-content: center
.intro
    background: url(../img/gold-bg.jpg) center center no-repeat
    background-size: cover
    // min-height: 800px
    padding-bottom: 50px
    &__postform
        font-size: 14px
        margin-top: 20px
        a
            color: #00FFDD
            text-decoration: underline
    &__box
        // display: grid
        // grid-template-columns: 625px 1fr
        // grid-column-gap: 120px
        display: flex
        justify-content: space-between
        // flex-wrap: wrap
        +r($desc)
            flex-wrap: wrap
    &__left
        padding-top: 20px
        +r($desc)
            width: 100%
            text-align: center
        h1
            font-weight: bold
            font-size: 74px
            +r($mob)
                font-size: 60px
            span
                display: block
                font-size: 38px
                margin-top: 10px
        h2
            font-size: 20px
            margin-top: 40px

    &__right
        // outline: 1px solid red
        max-width: 332px
        +r($desc)
            margin: 40px auto
    &__form-title
        font-size: 38px
        font-weight: 500
        margin-bottom: 20px
    &__icons
        display: flex
        justify-content: space-between
        margin-top: 120px
        +r($desc)
            flex-wrap: wrap
            justify-content: center
            margin-top: 60px
        +r($mob)
            margin-top: 20px
    
.icon-and-text
    margin: 10px
    &__icon
        min-height: 129px
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: 0 auto

        svg
            display: block
            margin: 0 auto
    &__text
        text-align: center
        font-size: 18px
        font-weight: bold
        text-transform: uppercase
        max-width: 233px
.chart
    background: #07041A
    padding: 150px 0 100px 0
    +r($desc)
        padding: 100px 0 70px 0
    +r($mob)
        padding: 80px 0 60px 0
    &__title, &__subtitle, &__text
        text-align: center
    &__title
        font-weight: 500
        font-size: 38px
        +r($mob)
            font-size: 30px
    &__subtitle
        font-weight: bold
        font-size: 48px
        margin: 10px 0 40px 0
        +r($mob)
            font-size: 40px
            margin: 30px 0 
    &__text
        line-height: 24px
        font-size: 20px
    &__wrap
        
    &__box
        // display: inline
        position: relative
        padding-bottom: 80px
        max-width: 704px
        max-height: 446px
        margin: 80px auto 80px auto
        +r($desc)
            display: none
        svg
            display: block
            margin: 0 auto
            +r($tab)
                width: 100%
        &-year-1, &-year-2
            position: absolute
            font-size: 18px
            font-weight: bold
            bottom: 0
        &-year-1
            left: 170px
        &-year-2
            color: #ED145B
            right: 150px
    &__box-mob
            display: none
            text-align: center
            +r($desc)
                display: block
                margin: 40px auto
            
            +r($mob)
                margin: 0 auto

            svg 
                width: 100%
    &__point
        width: 20px
        height: 20px
        border-radius: 50%
        background: #ED145B
        position: absolute
        top: 70px
        right: 93px
        border: 1px solid white
        &:after, &:before
            display: block
            position: absolute
            top: 50%
            left: 50%
            content: ''
            border-radius: 50%
            width: 60px
            height: 60px
            animation: pulsing .7s linear infinite forwards alternate
            background: #ED145B
        &:before
            width: 40px
            height: 40px


.btn
    background: #00FFDD
    width: 100%
    max-width: 332px
    height: 54px
    text-transform: uppercase
    font-weight: bold
    font-size: 18px
    color: #1B1A22
    display: block
    display: flex
    justify-content: center
    align-items: center
    border-radius: 3px
    &:hover
        background: #ED145B
        color: white



.factores
    padding: 105px 0 150px 0
    background: url(../img/factores-bg.png) #07041A center center no-repeat
    background-size: cover
    +r($desc)
        padding: 80px 0 120px 0
    +r($mob)
        padding: 60px 0 100px 0   
    &__box
        max-width: 531px
        margin: 0 auto
        +r($desc)
            text-align: center
        +r($tab)
            max-width: 100%
            width: 100%
    &__title
        font-weight: bold
        font-size: 48px
        line-height: 59px
        +r($mob)
            font-size: 40px
            line-height: 45px
    &__list
        margin: 40px 0 80px
        &-item:not(:last-of-type)
            margin-bottom: 30px
        &-text
            display: inline-block
            margin-left: 15px

.prefooter
    background: #07041A
    padding: 105px 0 170px 0
    +r($desc)
        padding: 80px 0 120px 0
    +r($mob)
        padding: 60px 0 100px 0
    &__title
        font-weight: bold
        font-size: 48px
        text-align: center
    &__subtitle
        font-size: 24px
        line-height: 24px
        margin-top: 40px
        text-align: center

    &__box
        display: flex
        justify-content: space-between
        margin: 90px 0
        +r($desc)
            flex-wrap: wrap
            justify-content: center
            margin: 70px 0
        +r($mob)
            margin: 50px 0
.footer
    background: #110F25
    padding: 35px 55px
    +r($desc)
        padding: 30px 40px
    +r($mob)
        padding: 25px 35px
    small
        display: block
        font-size: 20px
        text-align: center
        +r($mob)
            font-size: 18px
.centered
    margin: 0 auto

@keyframes pulsing
    from
        transform: scale(0)
        opacity: .5
        transform: translate(-50%, -50%)
    to
        transform: scale(1)
        opacity: 0
        transform: translate(-50%, -50%)

.is-hidden
    display: none

//generate sprite icons classes
$svg-icons: [ 'logo' 200px 33px, 'man' 61px 62px, 'tab' 58px 82px, 'comp' 62px 73px, 'chart' 64px 77px, 'big-chart' 704px 397px, 'mark' 18px 12px, 'chart2' 82px 59px, 'search' 71px 76px, 'book' 82px 58px ]

@each $name, $width, $height in $svg-icons
    .icon-#{$name}
        width: $width
        height: $height
