doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		block title
			title Title
		block head
			meta(name="keywords" content="")
			meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/styles.css")
		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap' rel='stylesheet')
		link(href='css/select2.css' rel='stylesheet')
		link(href='css/form.css' rel='stylesheet')
		link(href='css/popup.css' rel='stylesheet')

	body
		#app
			block content

		script(src='https://twisterfilestorage.blob.core.windows.net/twister/_regFormExternalUtm.min.js')
		script(src='https://lp.monfex.com/maxi-trade-reg-form.js')
		script.
			var srcUtils = "intlTel/js/utils.js";
		script.
			document.addEventListener('DOMContentLoaded', function () {
				var formContainer = document.querySelectorAll('._mnfx-form-container');
					if (formContainer.length > 0) {
						for (var i = 0; i < formContainer.length; i++) {
							settingRegisterForm(formContainer[i], { fname: true });
						}
					}
			});